{%extends 'main/base.html'%} {% block title %} Add Task {% endblock %} {% load crispy_forms_tags %} {% block content %}

<div class="mx-5 p-5">
    {% if tasks %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Completed</th>
                <th scope="col">Actions</th>
                <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="table-info">
                <td>{{ task.title }}</td>
                <td>
                    {% if task.completed %}
                    <i class="fas fa-check"></i>
                    <!-- FontAwesome check icon -->
                    {% else %}
                    <!-- Optionally, you can display some text for incomplete tasks -->
                    Not Completed {% endif %}
                </td>
                <td>
                    <a href="" class="btn btn-sm btn-info"><i class="fa-solid fa-circle-info fa-lg"></i></a>
                    <a href="" class="btn btn-sm btn-warning">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    <a href="" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash fa-lg"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary ms-4 me-4">No Task Records</div>
    {% endif %}
</div>


{% endblock %}