{% extends 'main/main.html' %} {% block title %} Welcome {% endblock %} {% block content %}
<div class="hero">
    <div class="text-center mx-2">
        <h1 class="display-5 text-light">Welcome to AimFlick</h1>
        <p class="lead text-light">Your platform for task management, setting and achieving your goals.</p>
        <a href="/login" class="btn btn-dark">Get Started</a>
    </div>
    <div class="d-flex justify-content-center">
        <footer class="footer">
            <div class="text-center text-light">
                <span>
                            Copyright &copy; <script>document.write(new Date().getFullYear())</script>
                            AimFlick | JozayHanniel.
                        </span>
            </div>
        </footer>



    </div>
</div>


{% endblock %}